<div class="jumbotron">
  <h1 class="display-3">Coupon Marketplace</h1>
  <hr class="my-3">
  <p class="lead">
    To trade in the Coupon Marketplace, you need to make an initial deposit of $20. After that, you're free to request any coupons you like!
    You can also post your own coupons to give away. When your coupon is requested, its value is credited to your account balance, minus a 5%
    transfer fee.
  </p>
  <hr class="my-3">
  <p>Keep in mind, if you don't have a sufficient balance to request the coupons you like, you will need to make another deposit. Happy trading!</p>
  <p class="lead">
    <% if current_user %>
      <%= link_to 'Account', edit_user_registration_path, class: "btn btn-success btn-lg" %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path, class: "btn btn-success btn-lg" %>
    <% end %>
    <%= link_to 'Go to the Marketplace', coupons_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
