<div class="jumbotron">
  <h1 class="display-3">Coupon Marketplace</h1>
  <p class="lead">
    To trade in the Coupon Marketplace, you need to make an initial deposit of $20. After that, you're free to request any coupons you like!
    You can also post your own coupons to give away and add their face values to your account balance.
  </p>
  <hr class="my-4">
  <p>Keep in mind, if you don't have a sufficient balance to request the coupons you like, you will need to make another deposit. Happy trading!</p>
  <p class="lead">
    <%= link_to 'Register', new_user_registration_path, class: "btn btn-success btn-lg" %>
    <%= link_to 'Go to the Marketplace', coupons_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
