<table id="coupons-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Value</th>
      <th>Posted On</th>
      <th>Posted By</th>
      <th></th>
    </tr>
  </thead>
</table>
