<table data-total-revenue="<%= number_to_currency(@total_revenue, precision: 2) %>" id="transfers-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Poster</th>
      <th>Requester</th>
      <th>Coupon ID</th>
      <th>Occurred On</th>
      <th>Commission</th>
    </tr>
  </thead>
</table>
