html, body {
  height: 100%;
  overflow-x: hidden;
}

$primary-blue: #007bff;

.navbar-brand {
  font-size: inherit;
}

header {
  background: $primary-blue;
}

main {
  @extend .container;
  margin-top: 30px;
}

section {
  @extend .row;
  margin-top: 20px;
}

.form-col {
  margin-top: 60px;
}
